/* CSS RESET */
body, img, div, p{margin:0;padding:0;font-family:Arial;}
body{font-family:Arial,Sans-Serif,"Times New Roman";font-size:12px;color:black;text-align:left;margin:0 0 0 0;background:#fff url('../images/bg2.jpg');}
h1, h2, h3, h4, ul{padding:0;margin:0;}
input {
    font-family:"TitilliumText25L1wt";
    font-size:20px;
    color:black;
    margin:0;
    margin-top:5px;
    width: 357px;
}
#txtState {
  width: 232px;
}
#txtZip {
  width: 115px;
}
h1{
    font-family:"TitilliumText25L1wt";
    font-size:30px;
    color:black;
    margin:0;
}
h1 input{
    font-family:"TitilliumText25L1wt";
    font-size:24px;
    color:black;
    margin:0;
    width: 173px;
}
h2{
    font-family:"TitilliumText25L1wt";
    font-size:20px;
    color:black;
}
h3{font-size:19px;color:black;}
img{border:0;}a{color:#000; outline-style:none;}a:hover{text-decoration:underline;cursor:pointer;}table{margin:0;padding:0;border-collapse:collapse;}td{vertical-align:top; padding:0;border-collapse:collapse;}.cl{clear:left;font-size:0;line-height:0;}form{display:inline;}.cr{clear:right;font-size:0;line-height:0;}.cb{clear:both; font-size:0;line-height:0;}.left{float:left;}.right{float:right;}ul li{list-style:none;}
#main{background:url('../images/bg2.jpg') repeat-x;}
.hide{display:none;}
.block{display:block;}
::selection{
    background:#ff9000;
    color:#fff;
}
p{
    color:#999999;
    padding-top:5px;
}
button {
    border: none;
    background-color: transparent;
    font-family:"TitilliumText25L1wt";
    font-size:14px;
    font-weight:bold;
    color:black;
    cursor:pointer;
}
button:hover {
    text-decoration:underline;
}

.line{
    background:#f1f1f1;
    height:1px;
    line-height:0;
    font-size:0;
}

.center{text-align:center;}
#wrapper{width:742px;margin:50px auto;}

.required {
  border-color: orange;
}
.saving {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
}
  .saving img {
    width: 162px;
    padding-left: 290px;
  }
.saved {
  font-family:"TitilliumText25L1wt";
  font-size:20px;
  font-weight:bold;
  height: 40px;
  width: 100%;
  color: green;
  background-color: lightgreen;
  margin-bottom: 20px;
  text-align:center;
  padding-top:20px;
}
.deleted {
  font-family:"TitilliumText25L1wt";
  font-size:20px;
  font-weight:bold;
  height: 40px;
  width: 100%;
  color: green;
  background-color: lightgreen;
  margin-bottom: 20px;
  text-align:center;
  padding-top:20px;
}

.instructions {
  float: left;
  width: 200px;
}

#addContact{
  float: right;
  margin: 0 24px 0 0;
  padding: 10px 20px;
  border: solid 2px green;
  font-family:"TitilliumText25L1wt";
  font-size:16px;
  font-weight:bolder;
  color:green;
  background-color:lightgreen;
  text-decoration:none;
}
#addContact:hover{
  color:lightgreen;
  background-color:green;
}

#saveContact{
  float: right;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  border: solid 2px green;
  font-family:"TitilliumText25L1wt";
  font-size:16px;
  font-weight:bolder;
  color:green;
  background-color:lightgreen;
  text-decoration:none;
}
#saveContact:hover{
  color:lightgreen;
  background-color:green;
}
#cancelSaveContact{
  float: right;
  margin: 0 10px 0 0;
  padding: 10px 20px;
  border: solid 2px gray;
  font-family:"TitilliumText25L1wt";
  font-size:16px;
  font-weight:bolder;
  color:gray;
  background-color:lightgray;
  text-decoration:none;
}
#cancelSaveContact:hover{
  color:lightgray;
  background-color:gray;
}

.error {
  font-family:"TitilliumText25L1wt";
  font-size:14px;
  font-weight:bold;
  width: 713px;
  border:solid 2px red;
  background-color:beige;
  margin: 5px 0 15px 0;
}
.dismissError {
  float:right;
  width: 15px;
  color:black;
  font-weight:bold;
  font-family:"TitilliumText25L1wt";
  font-size:12px;
  text-align:center;
  border:solid 1px black;
  cursor:pointer;
  margin: 5px 5px 0 5px;
}
  .dismissError:hover {
    background-color:lightgray;
  }
.errorMessage {
  clear: both;
  color:red;
  padding: 0 5px 5px 5px;
}

#logo { cursor: pointer; }

#index{float:left;}
#paging{padding-bottom:3px;margin-right:20px;}
#sortArea{padding-bottom:3px;margin-right:20px;}
#listArea{float:left;padding-right:20px;}
#selected, #newContact{float:left;}
#infoArea{
    font-family:"TitilliumText25L1wt";
    font-size:14px;
    font-weight:bold;
    color:black;
}
#detailMenu{
    text-align:right;
}

.sorted {
  text-decoration: underline;
  font-weight: bold;
  background-color: lightgray;
}

.container-list-top{
    background:url('../images/container-list-top.png') top left no-repeat;
    width:200px;
    padding:1px 0 0 0;
}
.container-list-top:hover, .container-list-top.selected{
    background:url('../images/container-list-top-hover.png') top left no-repeat;
    width:200px;
    padding:1px 0 0 0;
    cursor:pointer;
}
.container-list-middle{
    background:url('../images/container-list-middle.png') top left repeat-y;
    width:170px;
    padding:10px 10px 13px 20px;
}
.container-list-middle:hover, .container-list-middle.selected{
    background:url('../images/container-list-middle-hover.png') top left repeat-y;
    width:170px;
    padding:10px 10px 13px 20px;
    cursor:pointer;
}
.container-list-bottom{
    background:url('../images/container-list-bottom.png') bottom left no-repeat;
    width:200px;
    padding:0 0 1px 0;
}
.container-list-bottom:hover, .container-list-bottom.selected{
    background:url('../images/container-list-bottom-hover.png') bottom left no-repeat;
    width:200px;
    padding:0 0 1px 0;
    cursor:pointer;
}
.shadow-list{
    background:url('../images/shadow-list.png') no-repeat;
    width:200px;
    height:	41px;
    margin:-35px 0 0 -1px;
}


.container-top{
    background:url('../images/container-top.png') top left no-repeat;
    width:502px;
    padding:10px 0 0 0;
}
.container-middle{
    background:url('../images/container-middle.png') top left repeat-y;
    width:472px;
    padding:10px 10px 20px 20px;
}
.container-bottom{
    background:url('../images/container-bottom.png') bottom left no-repeat;
    width:502px;
    padding:0 0 10px 0;
}
.shadow{
    background:url('../images/shadow.png') no-repeat;
    width:502px;
    height:	139px;
    margin:-89px 0 0 -1px;
}

.profileinfo-list{
    float:left;
    padding:0;
    width:159px;
}
.profileinfo-list h1 {
    font-family:"TitilliumText25L1wt";
    font-size:20px;
    color:black;
}

.profileinfo{
    float:left;
    padding:10px 0 0 20px;
    width:365px;
}
.company{
    color:#999999;
    font-size: 16px;
}
.company-list{
    color:#999999;
}
.address{
    font-family:"TitilliumText25L1wt";
    font-size:14px;
    font-weight:bold;
    color:black;
}
.url{
    font-family:"TitilliumText25L1wt";
    font-size:12px;
    font-weight:bold;
    color:black;
    text-decoration:underline;
}
.profileinfo .line{
    margin:10px 0;
}
.profileinfo .skills{
    margin-top:10px;
}
.profileinfo .skills li{
    float:left;
    background:url('../images/flag.png') no-repeat top left;
    padding-left:25px;
    display:inline-block;
    width:130px;
    margin:5px 0;
}

.copyright{
    margin-top:-10px;
    color:#999999;
    font-size:11px;
    text-align:center;
}
.copyright a{
    text-decoration:underline;
    color:#666666;
}

/* all */
::-webkit-input-placeholder { color: grey; font-style:italic; }
::-moz-placeholder { color: grey; font-style:italic; } /* firefox 19+ */
:-ms-input-placeholder { color: grey; font-style:italic; } /* ie */
input:-moz-placeholder { color: grey; font-style:italic; }

/*.rotate{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}*/
